*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img,
svg {
  max-width: 100%;
  display: block;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
  height: 100%;
}

.page .header {
  width: 100%;
  height: 13vh;
}

.page .header .container .logo--section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .header .container .logo--section svg {
  margin-top: 20px;
  scale: 2;
}

.page .header .container .logo--section .logo-content .off {
  display: none;
}

.page .header .container .nav--section {
  display: none;
}

@media (min-width: 1023px) {
  .page .header {
    height: 20vh;
  }
  .page .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page .header .container .logo--section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .page .header .container .logo--section svg {
    margin-top: 0;
    scale: 0.8;
  }
  .page .header .container .logo--section .logo-content {
    margin-left: 1.25em;
  }
  .page .header .container .logo--section .logo-content h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .page .header .container .logo--section .logo-content .off {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #007FF4;
    font-size: 1.25rem;
  }
  .page .header .container .nav--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
  }
  .page .header .container .nav--section h1 {
    text-align: right;
  }
  .page .header .container .nav--section .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  .page .header .container .nav--section .items li {
    font-size: 20px;
  }
  .page .header .container .nav--section .items:first {
    color: #007FF4;
  }
}

.page .banner {
  margin-top: 30px;
  width: 100%;
  height: 30vh;
  background-image: url(/IT/Img/Cover.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page .cards {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 2em;
}

.page .cards .card img {
  border-radius: 1em;
}

.page .cards .card h3 {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.page .cards .card p {
  width: 287px;
  text-align: center;
}

.page .button {
  margin-top: 30px;
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .button .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #00C2FF;
  border: none;
  font-weight: 700;
  padding: 1em 2em;
  font-size: 0.9rem;
  outline: none;
  border-radius: 0.7em;
}
/*# sourceMappingURL=main.css.map */